<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Memory usage demo</title>
    <link rel="stylesheet" href="stylesheets/demo_style.css">
    <script type="text/javascript">
      PUSHER_KEY = 'YOUR PUSHER KEY'
      PUSHER_CHANNEL = 'test_channel'
      PUSHER_EVENT = 'my_event'
    </script>
  </head>
  
  <body>
    <header>
      <h1>Memory usage demo</h1>
    </header>
    
    <div id="links">
      <a href='/start' class="async" id="stop">Start</a>
      <a href='/stop' class="async" id="start">Stop</a>
      <a href='/load' class="async" id="load">Eat Memory</a>
      <a href='/clear' class="async" id="clear">Free Memory</a>
    </div>
    
    <div id="memory_usage"><span class="value">0</span> MiB</div>
    
    <div id="gauge_container"></div>
    
    <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/jquery.svg.min.js"></script>
    <script src="javascripts/jquery.svganim.min.js"></script>
    <script src="javascripts/demo.js"></script>
  </body>
</html>
